.header{
    background-image: url(https://media.istockphoto.com/id/1345818642/vector/blue-mystical-background-with-stars-clouds-and-orbits-with-place-for-text-heavenly-boho.jpg?s=612x612&w=0&k=20&c=RAh-11TZO4KlPZIChL3J6dbVVXliDrLJMDUTKiOy1kA=);
    background-position: center bottom;
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;
}
.overlay:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;   
    height: 450px;
    top: 40;
    left: 5%;
    width: 90%;
    background: rgba(1, 1, 0, 0.527);
   
}
.overlay * {
    position: relative;}

    h1{
        color: rgb(231, 203, 143);
        font-family: 'Dancing Script', cursive;
        letter-spacing: .3em;
        font-size: 100px;
        margin: 0px;
        padding-top: 8%;
        text-align: center;
        z-index: 2;
        
    }    
   
    .message p{color:rgb(231, 203, 143);
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: .5em;
        font-size: 24px;
        opacity: 3;
        

        

    }

    .message{background-color: rgb(3, 8, 37);
    width: 90%;
    text-align: center;
    position: relative;
    margin: auto;
    opacity: .91;
    height: 45px;
    bottom: 0;
    left: 0;

    }

.intro p{
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: medium;
    font-size: 20px;
    float: right;
  text-indent: 1.8em;
  line-height: 120%;
  text-align: justify;
  
}

.intro{
   display: flex;
   width: 80%;
   margin-left: 10%;
   margin-top: 3%;
   align-items:center;
   justify-content:space-evenly;
 
 
}

img{max-width: 45%;
padding-left: 2em;
}

body{background-color: rgb(235, 225, 170);

}

.start {background-color: rgb(3, 8, 37);
    width: 90%;
    opacity: .91;
    height: 40px;
    bottom: 0;
    left: 0;
margin: auto;
}

.start h2{color:rgb(231, 203, 143);
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .45em;
    font-size: 25px;
    opacity: 3;
font-weight:150;
text-align: center;
}

.start p{color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: medium;
    font-size: 20px;
    float: left;
    text-indent: 1.5em;

}

.start ul{text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: medium;
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 3%;

}


.start li{list-style: none;
text-align: center;
line-height: 150%;}

.answers{text-align: center;
}


.button{color:  rgb(235, 225, 170);
    font-family: 'Dancing Script', cursive;
    border-radius: 20px;
    font-size: 45px;
    margin-bottom: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(3, 8, 37);
    width: 30%;
    text-align: center;
    margin-left: 450px;
}

a{color: inherit;
text-decoration: none;}

.answers h1{font-size: 80px;
color: rgb(3, 8, 37) ;
letter-spacing: .1.2m;
justify-content: center;
align-items: center;}

footer{color: rgb(3, 8, 37);
border: 2em;
padding-top: 1%;
font-family:'Cormorant Garamond', serif;
float: left;
text-indent: 1em;
height: 10px;}

